PORT=3001

AUTH_JWT_ISSUER=auth
AUTH_JWT_AUDIENCE=zerotrust-api

AUTH_JWT_ACCESS_SECRET=change-me-access-secret
AUTH_JWT_REFRESH_SECRET=change-me-refresh-secret

AUTH_JWT_ACCESS_EXPIRES_IN=15m
AUTH_JWT_REFRESH_EXPIRES_IN=7d

AUTH_BCRYPT_ROUNDS=12